@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(gambar/astronout.svg);
  background-size: cover;
  background-position: center;
}
ul {
  margin: 25px 0px 0px 0px;
  padding: 20px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
li {
  display: inline;
  padding: 3%;
  font-size: 110%;
}

a {
  text-decoration: none;
  color: #f1faee;
  text-shadow: 2px 1px orangered;
  transition: 0.5s;
}
a:hover {
  text-decoration: underline;
  font-size: 115%;
  color: #f1faee;
}
hr{
    width: 30%;
    color: white;
    margin: auto;
}

 #name {
  padding-top: 3%;
  text-align: center;
  font-size: 260%;
  color: cornsilk;
  text-shadow: 4px 4px 4px rgb(153, 33, 33);
  font-family: "Orbitron", sans-serif;
}
#role {
  text-align: center;
  font-size: 140%;
  color: hsl(0, 84%, 48%);
  text-shadow: 2px 1.5px #f1faee;
  font-family: "Orbitron", sans-serif;
  transition: 0.5s;
}

#role:hover {
  transform: scale(1.4);
}

footer {
  text-align: center;
  color: white;
  font-size: 90%;
  padding-top: 320px;
  text-shadow: 2px 1px orangered;
}
