@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
.intro{
    border: 2px none;
    height: 350px;
    padding-top: 5%;
    text-align: center;
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgba(6,6,6,0.8715861344537815) 4%, rgba(84,84,81,0.865983893557423) 98%);
}
i{  
    font-size: 200%;
    
    padding: 1%;
    transition: 0.5s;
    
}
i:hover{
    transform: scale(1.5);
}
#html{
    color: orangered;
}
#css{
    color: rgb(25, 159, 204);
}
#js{
    color: yellow;
}
#figma{
    color:gainsboro;
}
#nama {
    text-align: center;
    color: cornsilk;
    filter: drop-shadow(2px 3px 2px);
    font-size: 380%;
    font-family: 'Nunito', sans-serif;
}

#role{
    text-align: center;
    color: rgba(242,188,4);
    font-size: 150%;
   
}

.container-fluid{
    background: rgb(244,101,12);
    background: linear-gradient(90deg, rgba(244,101,12,0.7679446778711485) 38%, rgba(242,188,4,0.700717787114846) 98%);
    border: 1px none coral;
    padding-bottom: 5%;
}

#tulisan{
    color: cornsilk;
    text-align: center;
    font-size: 160%;
    padding-top: 20px;
    font-family: 'Dela Gothic One', cursive;
}
.footer {
    background: rgb(6,6,6);
    background: linear-gradient(90deg, rgba(6,6,6,0.8715861344537815) 4%, rgba(84,84,81,0.865983893557423) 98%);
    float:left;
    text-align: center;
    color:cornsilk;
    padding: 1%;
    width: 100%;
}
@media (max-width: 1200px) {
    .intro{
        padding-top: 30%;
    }
    #nama{
        font-size: 200%;
    }
    #role{
        font-size: 100%;
    }
    i{
        font-size: 120%;
    }
    #tulisan{
        font-size: 100%;
    }
    .footer{
        font-size: 80%;
    }
}  

.web1,.web2,.web3,.web4{
    display: flex;
    padding: 2%;     
}

.kartu1,.kartu2,.kartu3,.kartu4,.kartu5,.kartu6,.kartu7,.kartu8 {
    border:1px solid black;
    box-shadow: 0px 8px 16px 0 grey;
    width: 40%;
    background: rgb(244,101,12);
    background: linear-gradient(90deg, rgba(244,101,12,0.7679446778711485) 38%, rgba(242,188,4,0.700717787114846) 98%);
    margin: auto;
    
}
.kartu1:hover{
    box-shadow: 0px 8px 16px 0 black;
}
.kartu2:hover{
    box-shadow: 0px 8px 16px 0 black;
   
}
.kartu3:hover{
    box-shadow: 0px 8px 16px 0 black;
}
.kartu4:hover{
    box-shadow: 0px 8px 16px 0 black;
}
.kartu5:hover{
    box-shadow: 0px 8px 16px 0 black;
    
}
.kartu6:hover{
    box-shadow: 0px 8px 16px 0 black;
    
}
.kartu7:hover{
    box-shadow: 0px 8px 16px 0 black;
    
}
.kartu8:hover{
    box-shadow: 0px 8px 16px 0 black;
}
#personal{
    text-align: center;
    margin-top: 10px;
    color: cornsilk;
}

    